<div class="pageBody" style="padding: 10px">
    <p style="font-family: 'Times New Roman', Times, serif; font-size: 30px;text-align:left;font-weight: bold;color: #73AD21">
            Save as</p>
<div class="wrapper">
    
    <div class="container" style="padding: 10px">
        <table align="center">
            <tr>
                <td id="nameTd">Enter Filename:</td>                
                <td contenteditable="true" id="searchTd"> </td>
                <td id="buttonTd"><button class="btn btn-success" routerLink="/home"
                    routerLinkActive="active" (click)="Save()">Save</button></td>
            </tr>
        </table>        
    </div>

    <div style="width: 100%; height: 10px; border-bottom: 0px;"></div>
    <button class="btn btn-success" routerLink="/home" routerLinkActive="active">Back</button>
</div>
</div>