.row
{
    align-items: center
}

.container{
    border-radius: 10px;
    border: 1px solid #73AD21;
    padding: 2px; 
    width: 100%;
    height: 100%;   
}
   .pageBody{
    border-radius: 1px;
    border: 1px solid #73AD21;
    padding: 20px; 
    width: 100%;
    height: 100%; 
   }
   
