<div class="pageBody">
  <div class="container">
    <section class="team-section text-center my-5">

      <h2 class="h1-responsive font-weight-bold my-5" style="font-weight: bold">Team - OMS, CX</h2>
      <p class="grey-text w-responsive mx-auto mb-5">Order Management System</p>

      <div class="row">
        <div class=wrapper>
          <table>
          <tr>
            <td>
              <img src="/assets/Sarthak.jpg" class="rounded-circle z-depth-1" alt="Sarthak" height="250px">
            <h5 class="font-weight-bold mt-4 mb-3">Sarthak Jain</h5>
            <p class="text blue-text"><strong>Intern</strong></p>
            <p class="grey-text">NIT-Hamirpur</p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook-f blue-text"> </i>
              </a>
              
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>
            </ul>
</td>
<td>
          
              <img src="/assets/Neha.jpg" class="rounded-circle z-depth-1" alt="Neha" height="250px" width="200px">
            
            <h5 class="font-weight-bold mt-4 mb-3">Neha Mittal</h5>
            <p class="text blue-text"><strong>Intern</strong></p>
            <p class="grey-text">VIT Vellore</p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook-f blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>
            </ul>
        
</td>
<td>
          
              <img src="/assets/Anshul.jpg" class="rounded-circle z-depth-1" alt="Anshul" height="250px" width="200px">
           
            <h5 class="font-weight-bold mt-4 mb-3">Anshul Sharma</h5>
            <p class="text blue-text"><strong>Intern</strong></p>
            <p class="grey-text">NIT-Hamirpur</p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook-f blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>              
            </ul>
        
          </td>
        </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>